<div class="col text-center card">
  <form class="form-card" [formGroup]="resumeForm" (ngSubmit)="submit()">
    <div class="form-group">
      <div class="row">
        <div class="col md-6">
          <div class="row">
            <div class="example-half-width">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Surname</mat-label>
                <input matInput [(ngModel)]="surname" [ngModelOptions]="{standalone: true}">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="mail" [ngModelOptions]="{standalone: true}">
              </mat-form-field>


              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Phone</mat-label>
                <ngx-mat-intl-tel-input [(ngModel)]="phone" [ngModelOptions]="{standalone: true}"
                  [preferredCountries]="['tr']" [enablePlaceholder]="true" [enableSearch]="true">
                </ngx-mat-intl-tel-input>
              </mat-form-field>
            </div>
            <div class="example-half-width">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput [(ngModel)]="address" [ngModelOptions]="{standalone: true}" #messageA maxlength="256"
                  rows="4" cols="40"></textarea>
                <mat-hint align="end">{{messageA.value.length}} / 256</mat-hint>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Summary</mat-label>
                <textarea matInput [(ngModel)]="summary" [ngModelOptions]="{standalone: true}" #message maxlength="256"
                  rows="9" cols="40"></textarea>
                <mat-hint align="start"><strong>Short Personal Summary</strong> </mat-hint>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              </mat-form-field>
            </div>
          </div>


          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Skills</mat-label>
            <textarea matInput #messageA maxlength="256" rows="2" cols="40" formControlName="skills"></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Interests</mat-label>
            <textarea matInput #messageA maxlength="256" rows="2" cols="40" formControlName="interests"></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Awards & Certificates</mat-label>
            <textarea matInput #messageA maxlength="256" rows="2" cols="40" formControlName="awards"></textarea>
          </mat-form-field>

        </div>
        <!--End Of First Row-->

        <div class="col md-6">

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Education</mat-label>
            <mat-select [(value)]="selectedEducation">
              <mat-option></mat-option>
              <mat-option value="Asscociate">Asscociate degree</mat-option>
              <mat-option value="Bachelor">Bachelor's degree</mat-option>
              <mat-option value="Master">Master's degree</mat-option>
              <mat-option value="Doctorate">Doctorate or higher</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="form-group row">
            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>High School</mat-label>
              <input matInput [(ngModel)]="highSchool" [ngModelOptions]="{standalone: true}">
            </mat-form-field>


            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>Years</mat-label>
              <input matInput [(ngModel)]="highSchoolYears" [ngModelOptions]="{standalone: true}" autocomplete="off"
                class="form-control">
            </mat-form-field>
          </div>

          <div class="form-group row">

            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>High School Country</mat-label>
              <mat-select [(value)]="highSchoolCountry" (selectionChange)="fillHighSchoolState()">
                <mat-option></mat-option>
                <mat-option *ngFor="let c of countries" [value]="c.name.common">{{ c.name.common }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>High School State</mat-label>
              <mat-select [(value)]="highSchoolState">
                <mat-option></mat-option>
                <mat-option *ngFor="let s of hsStates" [value]="s.state_name">{{s.state_name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group row">

            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>Bachelor Country</mat-label>
              <mat-select [(value)]="universityCountry" (selectionChange)="fillUniversity()">
                <mat-option></mat-option>
                <mat-option *ngFor="let c of countries" [value]="c.name.common">{{ c.name.common }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>University</mat-label>
              <mat-select [(value)]="selectedUniversity">
                <mat-option></mat-option>
                <mat-option *ngFor="let u of university" [value]="u.name">{{u.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>Department</mat-label>
              <input matInput [(ngModel)]="universityDepartment" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>Years</mat-label>
              <input matInput [(ngModel)]="universityYears" [ngModelOptions]="{standalone: true}" placeholder="Years"
                class="form-control" autocomplete="off">
            </mat-form-field>
          </div>

          <div class="form-group row"
            *ngIf="this.selectedEducation === 'Master' || this.selectedEducation === 'Doctorate' ">

            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>Master Country</mat-label>
              <mat-select [(value)]="masterCountry" (selectionChange)="fillMasterUniversity()">
                <mat-option></mat-option>
                <mat-option *ngFor="let c of countries" [value]="c.name.common">{{ c.name.common }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>Master University</mat-label>
              <mat-select [(value)]="masterUniversity">
                <mat-option></mat-option>
                <mat-option *ngFor="let u of masterUniversities" [value]="u.name">{{u.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>Program</mat-label>
              <input matInput [(ngModel)]="masterProgram" [ngModelOptions]="{standalone: true}">
            </mat-form-field>


            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>Years</mat-label>
              <input matInput [(ngModel)]="masterYears" [ngModelOptions]="{standalone: true}" placeholder="Years"
                class="form-control" autocomplete="off">
            </mat-form-field>
          </div>


          <div class="form-group row" *ngIf="this.selectedEducation === 'Doctorate'">
            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>Doctorate Country</mat-label>
              <mat-select [(value)]="doctorateCountry" (selectionChange)="fillDoctorateUniversity()">
                <mat-option></mat-option>
                <mat-option *ngFor="let c of countries" [value]="c.name.common">{{ c.name.common }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>Doctorate University</mat-label>
              <mat-select [(value)]="doctorateUniversity">
                <mat-option></mat-option>
                <mat-option *ngFor="let u of doctorateUniversities" [value]="u.name">{{u.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>Program</mat-label>
              <input matInput [(ngModel)]="doctorateProgram" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="example-half-width" appearance="outline">
              <mat-label>Years</mat-label>
              <input matInput [(ngModel)]="doctorateYears" [ngModelOptions]="{standalone: true}" placeholder="Years"
                class="form-control" autocomplete="off">
            </mat-form-field>
          </div>
        </div>
        <!--End Of Second Row-->
        <div class="row">
          <div class="example-half-width">

            <table mat-table [dataSource]="experienceDataSource" #mytable class="example-full-width">
              <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef> Company </th>
                <td mat-cell *matCellDef="let element"> {{element.company}} </td>
              </ng-container>

              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Position </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <ng-container matColumnDef="years">
                <th mat-header-cell *matHeaderCellDef> Years </th>
                <td mat-cell *matCellDef="let element"> {{element.years}} </td>
              </ng-container>

              <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> Details </th>
                <td mat-cell *matCellDef="let element"> {{element.details}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Action <span style="float:right;">
                    <label (click)="openDialog('Add',{})"><i class="fa fa-plus"></i></label>
                  </span></th>
                <td mat-cell *matCellDef="let element" class="action-link">
                  <a (click)="openDialog('Update',element)">Edit</a> |
                  <a (click)="openDialog('Delete',element)">Delete</a>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>


          <div class="example-half-width">
            <mat-form-field class="example-full-width">
              <ngx-mat-file-input #removableInput placeholder="Profile Picture" (change)="onChange($event)">
              </ngx-mat-file-input>
              <label style="outline: none;" mat-icon-button matSuffix *ngIf="!removableInput.empty"
                (click)="removableInput.clear($event)">
                <i class="fa fa-trash"></i>
              </label>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Create Resume</button>
  </form>
</div>