.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }

  body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: url("https://i.imgur.com/GMmCQHC.png");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
} 

.example-third-width {
    width: 33%;
}

.example-half-width {
    width: 50%;
}

.example-full-width {
    width: 100%;
}
table{
    width: 100%;
   }
   
   .mat-column-company {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 17% !important;
     width: 17% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     position:relative;
     padding-top:4px;
     text-align: left;
     justify-content: flex-end;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }

   .mat-column-position {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    position:relative;
    padding-top:4px;
    text-align: left;
    justify-content: flex-end;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
   
   .mat-column-years {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 18% !important;
     width: 18% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     position:relative;
     padding-top:4px;
     padding-left:4px;
     text-align: left;
     justify-content: flex-end;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-details {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 30% !important;
     width: 30% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     position:relative;
     padding-top:4px;
     padding-left:4px;
     text-align: left;
     justify-content: flex-end;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-actions {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 20% !important;
     width: 20% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     position:relative;
     padding-top:4px;
     padding-left:4px;
     text-align: left;
     justify-content: flex-end;
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }