<!DOCTYPE html>
<html lang="en">
<ng-go-top-button id="go-top-button">
    <i class="fa fa-arrow-up"></i>
</ng-go-top-button>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger">
            <span class="d-block d-lg-none">{{aboutInf.name}} {{aboutInf.surname}}</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                    [src]="imageToShow" alt="avatar" /></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="scroll(about)">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="scroll(experience)">Experience</a>
                </li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="scroll(education)">Education</a>
                </li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="scroll(skills)">Skills</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="scroll(interests)">Interests</a>
                </li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" (click)="scroll(awards)">Awards</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" #about>
            <div class="resume-section-content">
                <h1 class="mb-0">
                    {{aboutInf.name}}
                    <span class="text-primary">{{aboutInf.surname}}</span>
                </h1>
                <div class="subheading mb-5">
                    {{aboutInf.address}} · {{aboutInf.phone}} ·
                    <a href="mailto:'{{aboutInf.mail}}'" style="text-decoration: none;">{{aboutInf.mail}}</a>
                </div>
                <p class="lead mb-5">{{aboutInf.summary}}
                <div class="social-icons">

                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" #experience>
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div *ngFor="let exp of experienceInf" class="resume-section-content">
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">{{exp.position}}</h3>
                            <div class="subheading mb-3">{{exp.company}}</div>
                            <p>{{exp.details}}</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">{{exp.years}}</span></div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" #education>
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <div *ngIf="educationInf.doctorate" class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">{{educationInf.doctorate}}</h3>
                        <div class="subheading mb-3">Doctorate</div>
                        <div>{{educationInf.doctorateProgram}}</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">{{educationInf.doctorateYears}}</span></div>
                </div>
                <div *ngIf="educationInf.master" class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">{{educationInf.master}} , {{educationInf.masterCountry}}</h3>
                        <div class="subheading mb-3">Master of Science</div>
                        <div>{{educationInf.masterProgram}}</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">{{educationInf.masterYears}}</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">{{educationInf.university}} , {{educationInf.universityCountry}}</h3>
                        <div class="subheading mb-3">Bachelor of Science</div>
                        <div>{{educationInf.universityDepartment}}</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">{{educationInf.universityYears}}</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">{{educationInf.highSchool}} , {{educationInf.highSchoolCountry}} ,
                            {{educationInf.highSchoolState}}</h3>
                        <div class="subheading mb-3">High School</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">{{educationInf.highSchoolYears}}</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" #skills>
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <p>{{skillsData}}</p>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Interests-->
        <section class="resume-section" #interests>
            <div class="resume-section-content">
                <h2 class="mb-5">Interests</h2>
                <p>{{interestsData}}</p>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Awards-->
        <section class="resume-section" #awards>
            <div class="resume-section-content">
                <h2 class="mb-5">Awards & Certifications</h2>
                <p>{{awardsData}}</p>
            </div>
        </section>
    </div>
    <script src="./js/script.js"></script>
</body>

</html>